<img class="subcategory-gauge__icon--score-{{ score }}" src="{#asset /assets/{{ subcategoryIcon score }} @encoding=dataURI}" />

<div class="subcategory-gauge__rule {{ subcategoryScoreClass score }}"></div>

<div class="subcategory-gauge__bar {{#if onDark}}on-dark{{else}}on-light{{/if}}">
    <div class="subcategory-gauge__inner-fill {{ subcategoryScoreClass score }}" style="width: {{ score }}%"></div>
    <div class="subcategory-gauge__markers">
        <div class="subcategory-gauge__marker {{#if onDark}}on-dark{{else}}on-light{{/if}}"></div>
        <div class="subcategory-gauge__marker {{#if onDark}}on-dark{{else}}on-light{{/if}}"></div>
        <div class="subcategory-gauge__marker {{#if onDark}}on-dark{{else}}on-light{{/if}}"></div>
        <div class="subcategory-gauge__marker {{#if onDark}}on-dark{{else}}on-light{{/if}}"></div>
        <div class="subcategory-gauge__marker {{#if onDark}}on-dark{{else}}on-light{{/if}}"></div>
        <div class="subcategory-gauge__marker {{#if onDark}}on-dark{{else}}on-light{{/if}}"></div>
    </div>
</div>