<link rel="stylesheet" type="text/css" href="/css/cookie-message.css" />

<div class="cookie-message" data-test="cookie-msg">
  <div class="cookie-message__text" data-test="cookie-msg-text">
    <%= cookieMessage.text%>
    <a
      href="<%= cookieMessage.policyLink %>"
      target="_blank"
      title=" <%= cookieMessage.viewPolicy %>"
      class="cookie-policy__link"
    >
      <%= cookieMessage.viewPolicy %>
    </a>
  </div>
  <div class="cookie-message__button-wrapper">
    <button
      class="cookie-message__button"
      title="Accept"
      data-test="cookie-msg-btn"
    >
      <%= cookieMessage.accept %>
    </button>
  </div>
</div>
