<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        
        @font-face {
            font-family: 'Proxima Nova';
            src: url("{#asset ProximaNova-Regular.otf @encoding=dataURI}") format("opentype");
        }
    
        body {
            font-family: 'Proxima Nova';
            font-size: 18pt;
            padding: 0;
            margin: 0;
        }

        h1 {
          text-align: left;
          color: #185466;
          font-size: 36px;
          font-weight: normal;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        
        .radial-container {
            height: 750px;
            width: 750px;
            margin: auto;
        }

        .subradial-container {
            width: 100%; 
            height: 100%
        }

        .radar-legend {
          margin-left: 70px;
          font-size: 12px;
        }

        .radar-legend-index {
          font-weight: 600;
          padding-right: 10px;
        }

        .radar-legend-data {
          padding-right: 20px;
        }

        .top-section {
          column-count: 2;
          height: 300px;
        }

        .content-container {
          column-count: 2;
          font-size: 16pt;
          padding-top: 25px;
          height: 1050px;
        }

        .main-content-area p {
          margin-top: 0;
        }

        footer {
          background-color: #185466;
          height: 150px;
          color: #ffffff;
        }    

        @media print {
            .page-break-before {
                page-break-before: always;
            }
            .page-break-after {
                page-break-after: always;
            }
            
            .page {
                margin: 4% 4% 4% 4%;
            }
            
            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center; 
                font-size: 14pt;
            }
        
            p {
                page-break-inside: avoid;
            }
    
            .dt { 
              display: table;
            }
    
            .tr { 
                display: table-row;            
            }
            .td { 
                display: table-cell;
            }
    
            .front-page-container {
              margin: 0;
            }
    
            .cover-page {
              width: 100%; 
              height: 100%; 
              position: absolute;
              z-index: 10;
            }
            
            .category-grid {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto auto auto;
                grid-column-gap: 1em;
                grid-row-gap: 1em;
            }

        }
    </style>
</head>
<body>
<figure class="page-break-after front-page-container">
    <img src="{#asset FrontPage.png @encoding=dataURI}" class="cover-page"/>
</figure>
<div class="page-break-before">
  &nbsp;
</div>
<article class="page page-break-before">
    <h1>Hello Report Viewer!</h1>
    <p>
    Orci consequat pharetra lorem dui malesuada ligula sagittis natoque. Netus eu suspendisse adipiscing vel? Nunc turpis blandit facilisi nisl ad; rhoncus felis nisl semper porttitor. Amet pharetra a inceptos risus ullamcorper molestie urna pretium pulvinar. Fames turpis nostra, nostra natoque eget ante. Tristique maecenas sem aliquet. Hendrerit lectus vel molestie semper praesent risus.
    </p>
    <p>
    Sagittis mus dignissim rutrum leo lectus. Euismod vivamus libero posuere cubilia blandit curae; nulla quisque tellus nascetur. Ut dictum tincidunt congue nisi aptent. Nullam interdum felis suspendisse facilisis cras sociis aenean est auctor maecenas nulla augue! Nisi conubia hac ultrices pulvinar magna blandit sodales porttitor ultricies dui. Arcu, litora nibh convallis conubia quam.
    </p>
    <p>
    Laoreet vehicula et; placerat vivamus mattis semper mollis. Risus parturient maecenas erat duis. Facilisis, sociis facilisi duis dignissim? Aptent accumsan per accumsan. Nisl ultricies fusce cubilia ante cras non curae; nam nulla malesuada? Rutrum aliquam sapien nibh quam feugiat blandit penatibus. Diam aenean justo commodo litora netus suspendisse lacinia lorem aptent lectus varius. Suscipit, cum curabitur molestie rutrum senectus quisque platea. Torquent, rutrum vitae risus gravida etiam habitasse rutrum gravida vestibulum non. Adipiscing cubilia nascetur placerat magnis fusce porttitor facilisis tellus. Platea lacinia sollicitudin aliquet elementum tortor aliquet litora vivamus. Cras.
    </p>
    <p>
    Sem, felis torquent non blandit. Vitae laoreet id nostra proin ridiculus mi lacus mollis egestas ultrices. Etiam nullam arcu tristique porttitor, varius sed adipiscing. Pharetra augue diam metus vehicula sociosqu iaculis lacus cursus. Interdum consectetur aptent lacinia tempor faucibus justo nibh porta vel. Consequat lectus ipsum, purus volutpat. Cras gravida!
    </p>
    <p>
    In cursus libero varius nulla eget mi luctus quam amet euismod! Vehicula urna, tortor felis mus. Gravida at facilisis netus molestie quam orci vulputate vel imperdiet sit placerat vivamus. Nec, ridiculus porttitor lectus facilisi! Venenatis praesent nibh id. Platea adipiscing quis, convallis eleifend ultrices. Mi metus feugiat inceptos diam vestibulum nascetur euismod. Cubilia lacus tincidunt purus taciti, conubia eleifend. Viverra fames elementum elementum dui?
    </p>
</article> 
<article class="page page-break-before">
    <h1>Your Assessment</h1>
    <figure class="radial-container">
        <canvas id="SummaryRadial" width="600" height="600"></canvas>
    </figure>
    <section class="category-grid">
        {{#each categories}}
            <section>{{this.name}}</section>
            <section>
                This is where the category description would go.
                <br />
                These are stacked vertically because stacking them
                horizontally did not really give us enough space.
                <br />
                We could go for a row of 3 followed by a row of 2 instead?
            </section>
        {{/each}}
    </section>
</article>
{{#each categories}}
    <article class="page page-break-before">
        <header>
            <h1>{{this.name}}</h1>
            <section class="top-section">
                <p>
                    Your deployment processes are either entirely or mostly manual, 
                    and that there tends to be a blurred line of accountability between operations 
                    and development teams.
                </p>
                <figure class="subradial-container">
                  <canvas id="{{this.name}}"></canvas>
                  <section class="radar-legend dt">
                    <div class="tr">
                      <div class="td radar-legend-index">A</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel1}}</div>
                      <div class="td radar-legend-index">B</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel2}}</div>
                    </div>
                    <div class="tr">
                      <div class="td radar-legend-index">C</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel3}}</div>
                      <div class="td radar-legend-index">D</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel4}}</div>
                    </div>
                  </section>
                </figure>                
            </section>
        </header>
        <hr />
        <section class="content-container">
            {{{this.content.page1}}}
        </section>
        {{#if this.content.page2}}
          <section class="content-container page-break-before">
              {{{this.content.page2}}}
          </section>
          <footer>
              <span>&copy; Codurance 2019</span>
          </footer>
        {{/if}}
        <footer>
            <span>&copy; Codurance 2019</span>
        </footer>
    </article>
{{/each}}
<script>
  var labels = "{{summaryRadial.labels}}".split(',')
  var ctx = document.getElementById('SummaryRadial')
  Chart.defaults.global.defaultFontFamily = '\'Proxima Nova\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var summaryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          data: [{{summaryRadial.scores}}],
          backgroundColor: [
            'rgba(239, 119, 38, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
        animation: {
            duration: 0
        },
        scale: {
            ticks: {
                min: 0,
                max: 100,
                display: false
            }
        },
        legend: {
          display: false,
        }
    }
  })
</script>
<script>
{{#each categories}}
  var ctx = document.getElementById('{{this.name}}')
  Chart.defaults.global.defaultFontFamily = '\'Proxima Nova\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var subcategoryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: [ "A", "B", "C", "D" ],
      datasets: [
        {
          data: [{{this.subCategoryScores}}],
          backgroundColor: [
            'rgba(255, 208, 0, 0.6)',
          ],
          borderColor: [
            'rgba(254, 191, 39,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      },
      scale: {
          ticks: {
              min: 0,
              max: 100,
              display: false
          }
      },
      legend: {
        display: false
      }
    }
  })
{{/each}}
</script>
</body>
</html>