<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Proxima Nova font from Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/gpw7xtk.css">
  {{!--<link rel="stylesheet" href="{#asset /css/style.css @encoding=utf8}">--}}
  <title>Codurance Compass</title>
  <style>
    {#asset /css/_reset.css @encoding=utf8}
    {#asset /css/_global.css @encoding=utf8}
    {#asset /css/_copyright.css @encoding=utf8}
    {#asset /css/_front-page.css @encoding=utf8}
    {#asset /css/_intro-page.css @encoding=utf8}
    {#asset /css/_assessment-page.css @encoding=utf8}
    {#asset /css/_toc-page.css @encoding=utf8}
    {#asset /css/_summary-page.css @encoding=utf8}
    {#asset /css/style.css @encoding=utf8}
  </style>
</head>
<body>
    


  <!-- BEGIN FRONT PAGE ---------------------------------------------------------- -->
  <section id="front-page" class="page page-break-after">
    <span id="front-page_company-name">{{userData.values.[2].value}}</span>
    <span id="front-page_date">01 / 01 / 2019</span>
  </section>
  <!-- END FRONT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN INTRO PAGE ---------------------------------------------------------- -->
  <section id="intro-page" class="page page-break-after">
    <ul class="intro-page__contact-info">
        <li class="intro-page__contact-header">
            London / Manchester
        </li>
      <li>
          Phone: <a href="tel:+442074902967">+44 207 490 2967</a>
      </li>
      <li>
          Email: <a href="mailto:david.hall@codurance.com">david.hall@codurance.com</a>
      </li>
    </ul>
    <ul class="intro-page__contact-info second">
        <li class="intro-page__contact-header">
            Barcelona
        </li>
        <li>
            Phone: <a href="tel:+34937822882">+34 937 82 28 82</a>
        </li>
        <li>
            Email: <a href="mailto:jack.coleman@codurance.com">jack.coleman@codurance.com</a>
        </li>
    </ul>
  </section>
  <!-- END INTRO PAGE ---------------------------------------------------------- -->

  <!-- BEGIN YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->
  <section id="assessment-page" class="page page-break-after dark">
    <div class="assessment-page_graph om">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text om">Example Text</p>
    </div>
    <div class="assessment-page_graph cd">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text cd">Example Text</p>
    </div>
    <div class="assessment-page_graph c">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text c">Example Text</p>
    </div>
    <div class="assessment-page_graph cft">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text cft">Example Text</p>
    </div>
    <div class="assessment-page_graph xpp">
      <span class="graph-bar_result-bar"></span>
      <p class="assessment-page_result-text xpp">Example Text</p>
    </div>
  </section>
  <!-- END YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN TOC PAGE ---------------------------------------------------------- -->
  <section id="toc-page" class="page page-break-after">
    <ul id="toc-page_toc">
      <li id="toc-page_toc-numbers">
        <span><a href="#om-results-page">5</a></span>
        <span><a href="#cd-results-page">7</a></span>
        <span><a href="#c-results-page">9</a></span>
        <span><a href="#cft-results-page">11</a></span>
        <span><a href="#xpp-results-page">13</a></span>
        <span><a href="#summary-page">15</a></span>
      </li>
      <li id="toc-page_toc-names">
        <span><a href="#om-results-page">Organisational Maturity</a></span>
        <span><a href="#cd-results-page">Continuous Delivery</a></span>
        <span><a href="#c-results-page">Culture</a></span>
        <span><a href="#cft-results-page">Cross-Functional Teams</a></span>
        <span><a href="#xpp-results-page">XP Practices</a></span>
        <span><a href="#summary-page">Summary</a></span>
      </li>
    </ul>
  </section>
  <!-- END TOC PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->
  <section id="om-results-page" class="page page-break-after">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[0] '<=' 33 }}
    <section id="om-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/organisational-maturity-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[0] '<=' 66 }}
            <section id="om-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/organisational-maturity-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="om-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/organisational-maturity-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END ORGANISATIONAL MATURITY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->
  <section id="cd-results-page" class="page page-break-after dark">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[1] '<=' 33 }}
    <section id="cd-breakdown-page" class="page page-break-after dark" style="background: url('{#asset /assets/pageImgs/continuous-delivery-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[1] '<=' 66 }}
            <section id="cd-breakdown-page" class="page page-break-after dark" style="background: url('{#asset /assets/pageImgs/continuous-delivery-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="cd-breakdown-page" class="page page-break-after dark" style="background: url('{#asset /assets/pageImgs/continuous-delivery-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END CONTINUOUS DELIVERY RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CULTURE RESULTS PAGE ---------------------------------------------------------- -->
  <section id="c-results-page" class="page page-break-after">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END CULTURE RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CULTURE RESULTS PAGE ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[2] '<=' 33 }}
    <section id="c-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/people-culture-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[2] '<=' 66 }}
            <section id="c-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/people-culture-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="c-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/people-culture-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END CULTURE RESULTS PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->
   <section id="cft-results-page" class="page page-break-after dark">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[3] '<=' 33 }}
    <section id="cft-breakdown-page" class="page page-break-after dark" style="background: url('{#asset /assets/pageImgs/effective-team-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[3] '<=' 66 }}
            <section id="cft-breakdown-page" class="page page-break-after dark" style="background: url('{#asset /assets/pageImgs/effective-team-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="cft-breakdown-page" class="page page-break-after dark" style="background: url('{#asset /assets/pageImgs/effective-team-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END CROSS-FUNCTIONAL TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN XP PRACTICES TEAMS ---------------------------------------------------------- -->
  <section id="xpp-results-page" class="page page-break-after">
    <div class="graph-bar bar-1">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-2">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-3">
      <span class="graph-bar_result-bar"></span>
    </div>
    <div class="graph-bar bar-4">
      <span class="graph-bar_result-bar"></span>
    </div>
  </section>
  <!-- END XP PRACTICES TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN XP PRACTICES TEAMS ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[4] '<=' 33 }}
    <section id="xpp-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/technical-practices-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[4] '<=' 66 }}
            <section id="xpp-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/technical-practices-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="xpp-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/technical-practices-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END XP PRACTICES TEAMS ---------------------------------------------------------- -->

  <!-- BEGIN SUMMARY PAGE ---------------------------------------------------------- -->
  <section id="summary-page" class="page page-break-after">
      
    <ul id="summary-page_contact-london" class="summary-contact">
      <li>
          <i class="include-phone-icon"></i>
          <a href="tel:+442074902967">+44 207 490 2967</a>
      </li>
      <li>
          <i class="include-email-icon"></i>
          <a href="mailto:david.hall@codurance.com">david.hall@codurance.com</a>
      </li>
    </ul>
    
    <ul id="summary-page_contact-manchester" class="summary-contact">
      <li>
          <i class="include-phone-icon"></i>
          <a href="tel:+441613026795">+44 161 302 6795</a>
      </li>
      <li>
          <i class="include-email-icon"></i>
          <a href="mailto:emma.booth@codurance.com">emma.booth@codurance.com</a>
      </li>
    </ul>
    
    <ul id="summary-page_contact-barcelona" class="summary-contact">
      <li>
          <i class="include-phone-icon"></i>
          <a href="tel:+34937822882">+34 937 82 28 82</a>
      </li>
      <li>
          <i class="include-email-icon"></i>
          <a href="mailto:jack.coleman@codurance.com">jack.coleman@codurance.com</a>
      </li>
    </ul>
    
    <a id="summary-cta" href="https://codurance.com/contact-us/" target="_blank">
        Let's get started <i></i>
    </a>
   
      
  </section>
  <!-- END SUMMARY PAGE ---------------------------------------------------------- -->



</body>
<script>
    {#asset /js/index.js @encoding=utf8}
</script>
<!-- Convert CSS Variables -->
<script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
<script>
    cssVars({
        rootElement   : document,
        include: 'style',
        exclude: 'link',
        onlyLegacy: false,
        preserveStatic: true,
        preserveVars  : false,
        updateDOM: true,
        updateURLs: false
    });
</script>
</html>