<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        
        @font-face {
            font-family: 'Proxima Nova';
            src: url("{#asset ProximaNova-Regular.otf @encoding=dataURI}") format("opentype");
        }
    
        body {
            font-family: 'Proxima Nova';
            font-size: 18pt;
            padding: 0;
            margin: 0;            
        }

        h1 {
          text-align: left;
          color: #185466;
          font-size: 48px;
          font-weight: bold;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        
        .radial-container {
            height: 460px;
            width: 720px;
            margin: auto;
            margin-top: 50px;
        }

        .subradial-padding {
          padding: 10px 0 0 0;
        }

        .subradial-container {
            width: 400px; 
            height: 400px;
            padding: 0;
            margin: 0;
        }

        .subradial-canvas {
          width: 400px;
          height: 400px;
        }

        .top-section {
          height: 500px;
          vertical-align: top; 
          padding: 0;
          margin: 0;         
        }

        /* Fake (pseudo) element, that enables vertical-align */
        .top-section:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;          
        }

        .top-section, .top-section .top-left, .top-section .top-middle, .top-section .top-right {
          height: 500px;
          overflow-y: hidden;
        }

        .top-section .top-left {
          display: inline-block;
          width: 38%;
          vertical-align: top;
          font-size: 20pt;
          letter-spacing: -1px;
        }

        .top-section .top-middle {
          display: inline-block;
          width: 58%;
          vertical-align: top;
          padding: 0;
        }

        .top-section .top-right {
          display: block;
          position: relative;
          width: 230px;
          height: 200px;
          vertical-align: top;
          padding: 0;
          top: -200px;
          left: 660px;
          font-size: 12pt;
        }

        .key-header {
          font-weight: bold;
        }

        .key-ordinal {
          display: inline-block;
          vertical-align: top;
        }

        .key-data {
          display: inline-block;
          width: 205px;
          padding-left: 5px;
        }

        .content-container {
          column-count: 2;
          column-fill: auto;
          font-size: 18pt;
          padding-top: 25px;
          height: 830px;
        }

        .content-container.page-2 {
          margin-top: 100px;
          width: 100%;
          height: 1479px;
        }

        .main-content-area p {
          margin-top: 0;
          text-align: justify;
        }

        .main-radial-static-content p {
          margin-bottom: 0;
          font-size: 18pt;
          text-align: justify;
        }

        .main-radial-static-content p:first-child {
          margin-top: 0;
        }

        .category-page {
          padding-top: 100px;
          padding-left: 100px;
          padding-right: 100px;
        }

            .page-break-before {
                page-break-before: always;
            }
            .page-break-after {
                page-break-after: always;
            }
            
            .page {
                margin: 4% 4% 4% 4%;
            }
            
            p {
                page-break-inside: avoid;
            }
    
            .front-page-container {
              margin: 0;
            }

            .intro-page {
              padding-top: 100px;
              padding-left: 100px;
              padding-right: 100px;
              height: 1486px;
              position: relative;
            }

            .intro-page .page-number {
              position: absolute;
            }

            .main-radial-page {
              padding-top: 100px;
              padding-left: 100px;
              padding-right: 100px;
              height: 1486px;
              position: relative;
            }
            
            .main-radial-page .page-number {
              position: absolute;
            }
    
            .cover-page {
              width: 100%; 
              height: 100%; 
              position: absolute;
              z-index: 10;
            }

            footer {
              position:fixed;
              bottom:0;
              width: 100%;
              height: 100px;
              text-align: right;              
            }

            .footer-container {
              padding-right: 167px;
              font-size: 14pt;              
              padding-top: 36px;
            }
            
            .category-grid {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto auto auto;
                grid-column-gap: 1em;
                grid-row-gap: 1em;
            }

            .category-grid-heading {
              color: #185466;
              font-weight: bold;
              font-size: 26px;
            }

            hr {
              border: 0.8px solid black;
              margin: 0 0 30px 0;
            }  

            .page-number {
              display: block;
              position: relative;
              padding: 0;
              margin: 0;
              bottom: -10px;
              left: 0;
              right: 0;
              width: auto;
              text-align: center;
              font-size: 14pt;
            }

            .page-number.page-number-repeat {
              bottom: -20px;
            }
    </style>
</head>
<body>
  
  {{!-- Repeats on every page --}}
  <footer>
    {#asset footer.html @encoding=utf8}
  </footer>

<figure class="page-break-after front-page-container">
    <img src="{#asset frontPage.png @encoding=dataURI}" class="cover-page"/>
</figure>
<div class="page-break-before">
  &nbsp;
</div>
<article class="page page-break-before intro-page">
  <h1>The Codurance Compass</h1>
  <p>
    Thank you for taking the time to complete the Codurance Compass. 
    Software craftsmanship is at the heart of Codurance and these values and the practices 
    that flow from them are how we can continuously deliver great software. 
    Now we have taken these same values and used them to assess the answers you gave and 
    provide some practical advice you can take away and apply in your own organisation.
  </p>
  <p>
    This report is divided into 5 categories that we belive capture the essense of 
    an effective software delivery organisation. The catagories are summarised on the next page
    and then we drill deeper into each one in turn. Hopefully in the detailed analysis of each 
    category you will be able to recognise elements of the current situation at your 
    organisation, and be able to find some actionable suggestions which you can use to improve.
  </p>
  <div class="page-number">
    1
  </div>
</article> 
<article class="page page-break-before main-radial-page">
    <h1>Your Assessment</h1>
    <figure class="radial-container">
        <canvas id="SummaryRadial" width="800" height="450"></canvas>
    </figure>
    <hr />
    <section class="category-grid">
        {{#each categories}}
            <section class="category-grid-heading">{{this.name}}</section>
            <section class="main-radial-static-content">
                {{{this.staticContent.contentWithNoLineBreaks}}}
            </section>
        {{/each}}
    </section>
    <div class="page-number">
      2
    </div>
</article>
{{#each categories}}
    <article class="page page-break-before category-page">
        <header>
            <h1>{{this.name}}</h1>
            <section class="top-section">
                <div class="top-left">
                  {{{this.staticContent.content}}}
                </div>
                <div class="top-middle">
                  <div class="subradial-padding">
                    <figure class="subradial-container">
                    <canvas id="{{this.name}}" class="subradial-canvas" width="400" height="400"></canvas>
                  </div>
                </figure>
                </div>
                <div class="top-right">
                  <div class="key-header">
                    Key
                  </div>
                  <div>
                    <span class="key-ordinal">A</span>
                    <span class="key-data">{{this.subCategoryLabel1}}</span>
                  </div>
                  <div>
                    <span class="key-ordinal">B</span>
                    <span class="key-data">{{this.subCategoryLabel2}}</span>
                  </div>
                  <div>
                    <span class="key-ordinal">C</span>
                    <span class="key-data">{{this.subCategoryLabel3}}</span>
                  </div>
                  <div>
                    <span class="key-ordinal">D</span>
                    <span class="key-data">{{this.subCategoryLabel4}}</span>
                  </div>
                </div>
            </section>
        </header>
        <hr />
        {{#if this.content.page1}}
          <div>
            <section class="content-container">
              {{{this.content.page1}}}
            </section>
            <div class="page-number page-number-repeat">
              {{this.content.page1PageNumber}}
            </div>
          </div>      
        {{/if}}
        {{#if this.content.page2}}
          <div class="page-break-before">
            <section class="content-container page-2">
              {{{this.content.page2}}}
            </section>
            <div class="page-number page-number-repeat">
              {{this.content.page2PageNumber}}
            </div>
          </div>          
        {{/if}}
    </article>
{{/each}}
<script>
  var labels = "{{summaryRadial.labels}}".split(',')
  var ctx = document.getElementById('SummaryRadial')
  Chart.defaults.global.defaultFontFamily = '\'Proxima Nova\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var summaryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          data: [{{summaryRadial.scores}}],
          backgroundColor: [
            'rgba(239, 119, 38, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
        animation: {
            duration: 0
        },
        scale: {
            ticks: {
                min: 0,
                max: 100,
                display: false,
                maxTicksLimit: 5
            },
            pointLabels: {
              fontSize: 20
            }
        },
        legend: {
          display: false,
        }
    }
  })
</script>
<script>
{{#each categories}}
  var ctx = document.getElementById('{{this.name}}')
  Chart.defaults.global.defaultFontFamily = '\'Proxima Nova\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var subcategoryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: [ "A", "B", "C", "D" ],
      datasets: [
        {
          data: [{{this.subCategoryScores}}],
          backgroundColor: [
            'rgba(255, 208, 0, 0.6)',
          ],
          borderColor: [
            'rgba(254, 191, 39,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      },
      scale: {
          ticks: {
              min: 0,
              max: 100,
              display: false,
              maxTicksLimit: 5
          },
          pointLabels: {
            fontSize: 20
          }
      },
      legend: {
        display: false
      }
    }    
  })
{{/each}}
</script>
</body>
</html>