<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        
        @font-face {
            font-family: 'Proxima Nova';
            src: url("{#asset ProximaNova-Regular.otf @encoding=dataURI}") format("opentype");
        }
    
        body {
            font-family: 'Proxima Nova';
            font-size: 18pt;
            padding: 0;
            margin: 0;            
        }

        h1 {
          text-align: left;
          color: #185466;
          font-size: 36px;
          font-weight: bold;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        
        .radial-container {
            height: 650px;
            width: 650px;
            margin: auto;
        }

        .subradial-container {
            width: 100%; 
            height: 100%;
        }

        .radar-legend {
          margin-left: 70px;
          font-size: 12px;
        }

        .radar-legend-index {
          font-weight: 600;
          padding-right: 10px;
        }

        .radar-legend-data {
          padding-right: 20px;
        }

        .top-section {
          height: 400px;
          vertical-align: top;          
        }

        /* Fake (pseudo) element, that enables vertical-align */
        .top-section:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;          
        }

        .top-section, .top-section .top-left, .top-section .top-right {
          height: 400px;
          overflow-y: hidden;
        }

        .top-section .top-left {
          display: inline-block;
          background-color: red;
          width: 32%;
          vertical-align: top;
        }

        .top-section .top-right {
          display: inline-block;
          background-color: green;
          width: 64%;
          vertical-align: top;
        }

        .content-container {
          column-count: 2;
          font-size: 16pt;
          padding-top: 25px;
          height: 850px;
        }

        .content-container.page-2 {
          column-count: 1;
          margin-top: 100px;
          width: 50%;
        }

        .main-content-area p {
          margin-top: 0;
        }

        .main-radial-static-content p {
          margin-bottom: 0;
          font-size: 16pt;
        }

        .main-radial-static-content p:first-child {
          margin-top: 0;
        }

        .category-page-padding {
          padding-top: 100px;
          padding-left: 100px;
          padding-right: 100px;
        }

        @media print {
            .page-break-before {
                page-break-before: always;
            }
            .page-break-after {
                page-break-after: always;
            }
            
            .page {
                margin: 4% 4% 4% 4%;
            }
            
            p {
                page-break-inside: avoid;
            }
    
            .dt { 
              display: table;
            }
    
            .tr { 
                display: table-row;            
            }
            .td { 
                display: table-cell;
            }
    
            .front-page-container {
              margin: 0;
            }
    
            .cover-page {
              width: 100%; 
              height: 100%; 
              position: absolute;
              z-index: 10;
            }

            footer {
              position:fixed;
              bottom:0;
              width: 100%;
              height: 100px;
              text-align: right;              
            }

            .footer-container {
              padding-right: 50px;
            }
            
            .category-grid {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto auto auto;
                grid-column-gap: 1em;
                grid-row-gap: 1em;
            }
        }
    </style>
</head>
<body>
  
  {{!-- Repeats on every page --}}
  <footer>
    {#asset footer.html @encoding=utf8}
  </footer>

<figure class="page-break-after front-page-container">
    <img src="{#asset FrontPage.png @encoding=dataURI}" class="cover-page"/>
</figure>
<div class="page-break-before">
  &nbsp;
</div>
<article class="page page-break-before">
  <h1>The Codurance Compass</h1>
  <p>
    Thank you for taking the time to complete the Codurance Compass. 
    Software craftsmanship is at the heart of Codurance and these values and the practices 
    that flow from them are how we can continuously deliver great software. 
    Now we have taken these same values and used them to assess the answers you gave and 
    provide some practical advice you can take away and apply in your own organisation.
  </p>
  <p>
    This report is divided into 5 categories that we belive capture the essense of 
    an effective software delivery organisation. The catagories are summarised on the next page
    and then we drill deeper into each one in turn. Hopefully in the detailed analysis of each 
    category you will be able to recognise elements of the current situation at your 
    organisation, and be able to find some actionable suggestions which you can use to improve.
  </p>

  <!--
    <h1>Hello Report Viewer!</h1>
    
    <p>
      Thank you for taking the time to complete the Codurance Compass survey.
      This report is designed to assist you in adopting the core behaviours 
      and values that Codurance uses to consistently deliver high-quality crafted 
      software.
    </p>

    <p>
      <em>CB - Should this be in the call to action, at the end?</em>
      If you would like more information on any of the information on this report or 
      have any other burning questions, please feel free to contact us.
      Our contact details can be found on the footers on each page of the report.
    </p>

    <p>Refer to it as "this" or "the" report?</p>

    <h1>Overview</h1>
      <p>The results of this report are split into 5 main categories, the scores for which can be seen on the next page.</p>
      <p>You will find deeper insights into your score in each category on the ensuing category-detail pages.</p>
      <p>You should find that the analyses on these pages capture the key facts about your current situation.</p>
      <p>Along with each section analysis, we provide actionable suggestions which you can use to improve your current situation (need a better word here - repetition).</p>

    <h1>About Codurance</h1>
      <p>We build well-crafted software and help development teams to get better at continuously delivering software.</p>
      <p>Our craftspeople are renowned for their technology expertise especially in Web, Devops, Big Data, Continuous Delivery, and Cloud Platforms.</p>
      <p>We focus on the application of Extreme Programming practices and Software Craftsmanship values in everything we do.</p>
  -->
</article> 
<article class="page page-break-before">
    <h1>Your Assessment</h1>
    <figure class="radial-container">
        <canvas id="SummaryRadial" width="600" height="600"></canvas>
    </figure>
    <section class="category-grid">
        {{#each categories}}
            <section>{{this.name}}</section>
            <section class="main-radial-static-content">
                {{{this.staticContent}}}
            </section>
        {{/each}}
    </section>
    
</article>
{{#each categories}}
    <article class="page page-break-before category-page-padding">
        <header>
            <h1>{{this.name}}</h1>
            <section class="top-section">
                <div class="top-left">
                  {{{this.staticContent}}}
                </div>
                <div class="top-right">
                  <figure class="subradial-container">
                  <canvas id="{{this.name}}"></canvas>
                  <section class="radar-legend dt">
                    <div class="tr">
                      <div class="td radar-legend-index">A</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel1}}</div>
                      <div class="td radar-legend-index">B</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel2}}</div>
                    </div>
                    <div class="tr">
                      <div class="td radar-legend-index">C</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel3}}</div>
                      <div class="td radar-legend-index">D</div>
                      <div class="td radar-legend-data">{{this.subCategoryLabel4}}</div>
                    </div>
                  </section>
                </figure>
                </div>                
            </section>
        </header>
        <hr />
        {{#if this.content.page1}}
          <section class="content-container">
              {{{this.content.page1}}}
          </section>          
        {{/if}}
        {{#if this.content.page2}}
          <section class="content-container page-2 page-break-before">
              {{{this.content.page2}}}
          </section>          
        {{/if}}
    </article>
{{/each}}
<script>
  var labels = "{{summaryRadial.labels}}".split(',')
  var ctx = document.getElementById('SummaryRadial')
  Chart.defaults.global.defaultFontFamily = '\'Proxima Nova\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var summaryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          data: [{{summaryRadial.scores}}],
          backgroundColor: [
            'rgba(239, 119, 38, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
        animation: {
            duration: 0
        },
        scale: {
            ticks: {
                min: 0,
                max: 100,
                display: false
            }
        },
        legend: {
          display: false,
        }
    }
  })
</script>
<script>
{{#each categories}}
  var ctx = document.getElementById('{{this.name}}')
  Chart.defaults.global.defaultFontFamily = '\'Proxima Nova\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var subcategoryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: [ "A", "B", "C", "D" ],
      datasets: [
        {
          data: [{{this.subCategoryScores}}],
          backgroundColor: [
            'rgba(255, 208, 0, 0.6)',
          ],
          borderColor: [
            'rgba(254, 191, 39,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      },
      scale: {
          ticks: {
              min: 0,
              max: 100,
              display: false
          }
      },
      legend: {
        display: false
      }
    }
  })
{{/each}}
</script>
</body>
</html>