<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Proxima Nova font from Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/gpw7xtk.css">
  {{!--<link rel="stylesheet" href="{#asset /css/style.css @encoding=utf8}">--}}
  <title>Codurance Compass</title>
  <style>
    {#asset /css/_reset.css @encoding=utf8}
    {#asset /css/_global.css @encoding=utf8}
    {#asset /css/_copyright.css @encoding=utf8}
    {#asset /css/_front-page.css @encoding=utf8}
    {#asset /css/_intro-page.css @encoding=utf8}
    {#asset /css/_assessment-page.css @encoding=utf8}
    {#asset /css/_toc-page.css @encoding=utf8}
    {#asset /css/_summary-page.css @encoding=utf8}
    {#asset /css/style.css @encoding=utf8}
  </style>
</head>
<body>
    


  <!-- BEGIN FRONT PAGE ---------------------------------------------------------- -->
  <section id="front-page" class="page page-break-after">
    <span id="front-page_company-name">{{userData.values.[2].value}}</span>
    <span id="front-page_date">01 / 01 / 2019</span>
  </section>
  <!-- END FRONT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN INTRO PAGE ---------------------------------------------------------- -->
  <section id="intro-page" class="page page-break-after">
    <ul class="intro-page__contact-info">
        <li class="intro-page__contact-header">
            London / Manchester
        </li>
      <li>
          Phone: <a href="tel:+442074902967">+44 207 490 2967</a>
      </li>
      <li>
          Email: <a href="mailto:david.hall@codurance.com">david.hall@codurance.com</a>
      </li>
    </ul>
    <ul class="intro-page__contact-info second">
        <li class="intro-page__contact-header">
            Barcelona
        </li>
        <li>
            Phone: <a href="tel:+34937822882">+34 937 82 28 82</a>
        </li>
        <li>
            Email: <a href="mailto:jack.coleman@codurance.com">jack.coleman@codurance.com</a>
        </li>
    </ul>
  </section>
  <!-- END INTRO PAGE ---------------------------------------------------------- -->

  <!-- BEGIN YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->
  <section id="assessment-page" class="page page-break-after">
      
      <div class="assessment-page__warning-box hidden" data-category="organisational-maturity">
          <i class="assessment-page__warning-icon"></i>
      </div>
      <div class="assessment-page__barchart" data-category="organisational-maturity">
          <div class="assessment-page__inner-fill" data-category="organisational-maturity"></div>
          <div class="assessment-page__markers-container">
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
          </div>
      </div>
      
      <div class="assessment-page__warning-box hidden" data-category="continuous-delivery">
          <i class="assessment-page__warning-icon"></i>
      </div>
      <div class="assessment-page__barchart" data-category="continuous-delivery">
          <div class="assessment-page__inner-fill" data-category="continuous-delivery"></div>
          <div class="assessment-page__markers-container">
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
          </div>
      </div>
      
      <div class="assessment-page__warning-box hidden" data-category="people-culture">
          <i class="assessment-page__warning-icon"></i>
      </div>
      <div class="assessment-page__barchart" data-category="people-culture">
          <div class="assessment-page__inner-fill" data-category="people-culture"></div>
          <div class="assessment-page__markers-container">
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
          </div>
      </div>
      
      <div class="assessment-page__warning-box hidden" data-category="effective-team">
          <i class="assessment-page__warning-icon"></i>
      </div>
      <div class="assessment-page__barchart" data-category="effective-team">
          <div class="assessment-page__inner-fill" data-category="effective-team"></div>
          <div class="assessment-page__markers-container">
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
          </div>
      </div>
      
      <div class="assessment-page__warning-box hidden" data-category="technical-practices">
          <i class="assessment-page__warning-icon"></i>
      </div>
      <div class="assessment-page__barchart" data-category="technical-practices">
          <div class="assessment-page__inner-fill" data-category="technical-practices"></div>
          <div class="assessment-page__markers-container">
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
              <div class="assessment-page__marker"></div>
          </div>
      </div>
      
  </section>
  <!-- END YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN TOC PAGE ---------------------------------------------------------- -->
  <section id="toc-page" class="page page-break-after">
      
      <ul class="toc-page__contents">
          <a href="#organisational-maturity-page"><li>
            <span class="toc-page__numbers">4.</span>
            <span class="toc-page__sections">Organisational Maturity</span>
          </li></a>
          <li><a href="#continuous-delivery-page">
            <span class="toc-page__numbers">6.</span>
            <span class="toc-page__sections">Continuous Delivery</span>
          </a></li>
          <li><a href="#people-culture-page">
            <span class="toc-page__numbers">8.</span>
            <span class="toc-page__sections">People & Culture</span>
          </a></li>
          <li><a href="#effective-team-page">
            <span class="toc-page__numbers">10.</span>
            <span class="toc-page__sections">Effective Team</span>
          </a></li>
          <li><a href="#technical-practices-page">
            <span class="toc-page__numbers">12.</span>
            <span class="toc-page__sections">Technical Practices</span>
          </a></li>
          <li><a href="#summary-page">
            <span class="toc-page__numbers">14.</span>
            <span class="toc-page__sections">Summary</span>
          </a></li>
      </ul>

  </section>
  <!-- END TOC PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY PAGE ---------------------------------------------------------- -->
  <section id="organisational-maturity-page" class="page page-break-after js-category-page">
      
    <div class="main-bar-graph__container bar-1">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-2">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-3">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-4">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
  </section>
  <!-- END ORGANISATIONAL MATURITY PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY BREAKDOWN ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[0] '>' 75 }}
    <section id="organisational-maturity-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/organisational-maturity-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[0] '>=' 50 }}
            <section id="organisational-maturity-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/organisational-maturity-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="organisational-maturity-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/organisational-maturity-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END ORGANISATIONAL MATURITY BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY PAGE ---------------------------------------------------------- -->
  <section id="continuous-delivery-page" class="page page-break-after js-category-page">

    <div class="main-bar-graph__container bar-1">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-2">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-3">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-4">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>

  </section>
  <!-- END CONTINUOUS DELIVERY PAGE ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY BREAKDOWN ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[1] '>' 75 }}
    <section id="continuous-delivery-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/continuous-delivery-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[1] '>=' 50 }}
            <section id="continuous-delivery-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/continuous-delivery-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="continuous-delivery-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/continuous-delivery-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END CONTINUOUS DELIVERY BREAKDOWN PAGE ---------------------------------------------------------- -->

  <!-- BEGIN PEOPLE CULTURE PAGE ---------------------------------------------------------- -->
  <section id="people-culture-page" class="page page-break-after js-category-page">

    <div class="main-bar-graph__container bar-1">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-2">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-3">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-4">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>

  </section>
  <!-- END PEOPLE CULTURE PAGE ---------------------------------------------------------- -->

  <!-- BEGIN PEOPLE CULTURE BREAKDOWN ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[2] '>' 75 }}
    <section id="people-culture-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/people-culture-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[2] '>=' 50 }}
            <section id="people-culture-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/people-culture-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="people-culture-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/people-culture-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END PEOPLE CULTURE BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN EFFECTIVE TEAM PAGE ---------------------------------------------------------- -->
   <section id="effective-team-page" class="page page-break-after js-category-page">

    <div class="main-bar-graph__container bar-1">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-2">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-3">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-4">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-light">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
                <div class="main-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>

  </section>
  <!-- END EFFECTIVE TEAM PAGE ---------------------------------------------------------- -->

  <!-- BEGIN EFFECTIVE TEAM BREAKDOWN ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[3] '>' 75 }}
    <section id="effective-team-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/effective-team-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[3] '>=' 50 }}
            <section id="effective-team-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/effective-team-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="effective-team-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/effective-team-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END EFFECTIVE TEAM BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN TECHNICAL PRACTICES PAGE ---------------------------------------------------------- -->
  <section id="technical-practices-page" class="page page-break-after js-category-page">

    <div class="main-bar-graph__container bar-1">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-2">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-3">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>
    
    <div class="main-bar-graph__container bar-4">
        <img class="main-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__average-high-icon hidden" src="{#asset /assets/average-high-result-icon.png @encoding=dataURI}" />
        <img class="main-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="main-bar-graph__rule"></div>
        
        <div class="main-bar-graph__bar on-dark">
            <div class="main-bar-graph__inner-fill"></div>
            <div class="main-bar-graph__marker-container">
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
                <div class="main-bar-graph__marker on-dark"></div>
            </div>
        </div>
    </div>

  </section>
  <!-- END TECHNICAL PRACTICES PAGE ---------------------------------------------------------- -->

  <!-- BEGIN TECHNICAL PRACTICES BREAKDOWN ---------------------------------------------------------- -->
  {{#ifCond summaryRadial.scores.[4] '>' 75 }}
    <section id="technical-practices-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/technical-practices-good.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
    {{else}}
        {{#ifCond summaryRadial.scores.[4] '>=' 50 }}
            <section id="technical-practices-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/technical-practices-avg.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
            {{else}}
            <section id="technical-practices-breakdown-page" class="page page-break-after" style="background: url('{#asset /assets/pageImgs/technical-practices-bad.jpg @encoding=dataURI}') no-repeat; background-size: cover;"></section>
        {{/ifCond}}
  {{/ifCond}}
  <!-- END TECHNICAL PRACTICES BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN SUMMARY PAGE ---------------------------------------------------------- -->
  <section id="summary-page" class="page page-break-after">
      
    <ul class="summary-contact__london-container">
        <li>Sales Contact: <span class="summary-contact__name">David Hall</span></li>
        <li>
            <ul class="summary-contact__london">
                <li><a href="tel:+447447062036">
                    <i class="summary-contact__phone"></i>
                    <span>+44 744 70 62 036</span>
                </a></li>
                <li><a href="mailto:david.hall@codurance.com">
                    <i class="summary-contact__email"></i>
                    <span>david.hall@codurance.com</span>
                </a></li>
                <li><a href="https://codurance.com/" target="_blank">
                    <i class="summary-contact__web"></i>
                    <span>codurance.com</span>
                </a></li>
            </ul>
        </li>
        <li>3 Sutton Lane, 3rd floor<br>London, EC1M 5PU</li>
        <li>2 Mount Street<br>Manchester, M2 5WQ</li>
    </ul>
    
    <ul class="summary-contact__barcelona-container">
        <li>Sales Contact: <span class="summary-contact__name">Jack Colemanzo</span></li>
        <li>
            <ul class="summary-contact__barcelona">
                <li><a href="tel:+34937822882">
                    <i class="summary-contact__phone"></i>
                    <span>+34 937 82 28 82</span>
                </a></li>
                <li><a href="mailto:jack.coleman@codurance.com">
                    <i class="summary-contact__email"></i>
                    <span>jack.coleman@codurance.com</span>
                </a></li>
                <li><a href="https://codurance.es/" target="_blank">
                    <i class="summary-contact__web"></i>
                    <span>codurance.es</span>
                </a></li>
            </ul>
        </li>
        <li>Carrer de Pallars 99,<br>4th floor, room 41<br>Barcelona, 08018</li>
    </ul>
    
    <div class="summary-bar-graph__container" data-category="organisational-maturity">
        <img class="summary-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="summary-bar-graph__rule"></div>
        
        <div class="summary-bar-graph__bar on-light">
            <div class="summary-bar-graph__inner-fill"></div>
            <div class="summary-bar-graph__marker-container">
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="summary-bar-graph__container" data-category="continuous-delivery">
        <img class="summary-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="summary-bar-graph__rule"></div>
        
        <div class="summary-bar-graph__bar on-light">
            <div class="summary-bar-graph__inner-fill"></div>
            <div class="summary-bar-graph__marker-container">
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="summary-bar-graph__container" data-category="people-culture">
        <img class="summary-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="summary-bar-graph__rule"></div>
        
        <div class="summary-bar-graph__bar on-light">
            <div class="summary-bar-graph__inner-fill"></div>
            <div class="summary-bar-graph__marker-container">
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="summary-bar-graph__container" data-category="effective-team">
        <img class="summary-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="summary-bar-graph__rule"></div>
        
        <div class="summary-bar-graph__bar on-light">
            <div class="summary-bar-graph__inner-fill"></div>
            <div class="summary-bar-graph__marker-container">
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
    
    <div class="summary-bar-graph__container" data-category="technical-practices">
        <img class="summary-bar-graph__bad-icon hidden" src="{#asset /assets/bad-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__average-icon hidden" src="{#asset /assets/average-result-icon.png @encoding=dataURI}" />
        <img class="summary-bar-graph__good-icon hidden" src="{#asset /assets/good-result-icon.png @encoding=dataURI}" />

        <div class="summary-bar-graph__rule"></div>
        
        <div class="summary-bar-graph__bar on-light">
            <div class="summary-bar-graph__inner-fill"></div>
            <div class="summary-bar-graph__marker-container">
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
                <div class="summary-bar-graph__marker on-light"></div>
            </div>
        </div>
    </div>
      
  </section>
  <!-- END SUMMARY PAGE ---------------------------------------------------------- -->



</body>
<script>
    {#asset /js/index.js @encoding=utf8}
</script>
<!-- Convert CSS Variables -->
<script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
<script>
    cssVars({
        rootElement   : document,
        include: 'style',
        exclude: 'link',
        onlyLegacy: false,
        preserveStatic: true,
        preserveVars  : false,
        updateDOM: true,
        updateURLs: false
    });
</script>
</html>