<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            padding: 0;
            margin: 0;
        }

        h1 {
          text-align: left;
          color: #185466;
          font-size: 36px;
          font-weight: normal;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        
        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 400px;
        }

        .radial-container {
            height: 750px;
            width: 750px;
            margin: auto;
        }

        .page-header {
          padding: 0;
          margin: 0;
        }
        
        .subradial-container {
            width: 43%;
            display: inline-block;
            padding: 0;
            margin: 40px 10px 0 30px;
        }

        .radar-legend {
          margin-left: 70px;
          font-size: 12px;
        }

        .radar-legend-index {
          font-weight: 600;
          padding-right: 10px;
        }

        .radar-legend-data {
          padding-right: 20px;
        }

        .section-divider {
          border-top: 1px solid #185466;
          margin: 30px 60px 0 60px;          
        }

        .category-description {
            width: 43%;
            display: inline-block;
            vertical-align: top;
            padding: 0;
            margin: 40px 0 0 20px;
        }

        .category-description-static-content {
          color: rgba(239, 119, 38, 1);
          font-size: 20px;
        }

        .category-description-static-content p {
          margin: 15px 0 0 0;
        }

        .main-content {
          padding: 15px 60px 0 60px;
          height: 550px;
          overflow: hidden;
        }

        @media print {
            .page-break-before {
                page-break-before: always;
            }
            .page-break-after {
                page-break-after: always;
            }
        }
        
        p {
            page-break-inside: avoid;
        }

        .dt { 
          display: table;
        }

        .tr { 
            display: table-row;            
        }
        .td { 
            display: table-cell;
        }
    </style>
</head>
<body>
<figure class="page-break-after">
    <img class="logo" src="{#asset codurance.png @encoding=dataURI}" style="height: 150px; width: 700px;" />
</figure>
<figure class="radial-container">
    <canvas id="SummaryRadial" width="600" height="600"></canvas>
</figure>
{{#each categories}}
    <article class="page-break-before codurance-background">
      <img src="{#asset reportBackground.png @encoding=dataURI}" style="width: 100%; height: 100%; position: absolute;" />
      <section class="page-header">
          <section class="subradial-container">
            <figure>
              <canvas id="{{this.name}}" width="200" height="200"></canvas>
            </figure>            
          </section>
          <aside class="category-description">
            <h1>{{this.name}}</h1>
            <div class="category-description-static-content">
              {{{this.staticContent}}}
            </div>
          </aside>
      </section>
      <section class="radar-legend dt">
        <div class="tr">
          <div class="td radar-legend-index">A</div>
          <div class="td radar-legend-data">{{this.subCategoryLabel1}}</div>
          <div class="td radar-legend-index">B</div>
          <div class="td radar-legend-data">{{this.subCategoryLabel2}}</div>
        </div>
        <div class="tr">
          <div class="td radar-legend-index">C</div>
          <div class="td radar-legend-data">{{this.subCategoryLabel3}}</div>
          <div class="td radar-legend-index">D</div>
          <div class="td radar-legend-data">{{this.subCategoryLabel4}}</div>
        </div>
      </section>
      <section class="section-divider">

      </section>
      <section class="main-content">
        {{{this.content.page1}}}
      </section>
    </article>
    {{#if this.content.page2}}
      <article class="page-break-before codurance-background"></article>
        <img src="{#asset reportBackground.png @encoding=dataURI}" style="width: 100%; height: 100%; position: absolute;" />
        <section class="main-content">
          {{{this.content.page2}}}
        </section>
      </article>
    {{/if}}
{{/each}}
<script>
  var labels = "{{summaryRadial.labels}}".split(',')
  var ctx = document.getElementById('SummaryRadial')
  Chart.defaults.global.defaultFontFamily = '\'Roboto\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var summaryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          data: [{{summaryRadial.scores}}],
          backgroundColor: [
            'rgba(239, 119, 38, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
        animation: {
            duration: 0
        },
        scale: {
            ticks: {
                min: 0,
                max: 100,
                display: false
            }
        },
        legend: {
          display: false,
        }
    }
  })
</script>
<script>
{{#each categories}}
  var ctx = document.getElementById('{{this.name}}')
  Chart.defaults.global.defaultFontFamily = '\'Roboto\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var subcategoryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: [ "A", "B", "C", "D" ],
      datasets: [
        {
          data: [{{this.subCategoryScores}}],
          backgroundColor: [
            'rgba(255, 208, 0, 0.6)',
          ],
          borderColor: [
            'rgba(254, 191, 39,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      },
      scale: {
          ticks: {
              min: 0,
              max: 100,
              display: false
          }
      },
      legend: {
        display: false
      }
    }
  })
{{/each}}
</script>
</body>
</html>