<html>
<head>
    <title>Chart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        
        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 400px;
        }

        .radial-container {
            height: 750px;
            width: 750px;
            margin: auto;
        }
        
        .subradial-container {
            height: 400px;
            width: 400px;
            margin: auto;
        }

        @media print {
            .page-break-before {
                page-break-before: always;
            }
            .page-break-after {
                page-break-after: always;
            }
        }
        
        p {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
<figure class="page-break-after">
    <img class="logo" src="{#asset codurance.png @encoding=dataURI}" style="height: 150px; width: 700px;" />
</figure>
<figure class="radial-container">
    <canvas id="SummaryRadial" width="600" height="600"></canvas>
</figure>
{{#each categories}}
    <article class="page-break-before">
        <figure class="subradial-container">
            <canvas id="{{this.name}}" width="200" height="200"></canvas>
        </figure>
        <h1>{{this.name}}</h1>
        {{{this.content}}}
    </article>
{{/each}}
<script>
  var labels = "{{summaryRadial.labels}}".split(',')
  var ctx = document.getElementById('SummaryRadial')
  Chart.defaults.global.defaultFontFamily = '\'Open Sans\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var summaryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Performance',
          data: [{{summaryRadial.scores}}],
          backgroundColor: [
            'rgba(219, 73, 0, 0.6)',
          ],
          borderColor: [
            'rgba(168, 25, 0,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
        animation: {
            duration: 0
        },
        scale: {
            ticks: {
                min: 0,
                max: 100,
                display: false
            }
        }
    }
  })
</script>
<script>
{{#each categories}}
  var labels = "{{this.subCategoryLabels}}".split(',')
  var ctx = document.getElementById('{{this.name}}')
  Chart.defaults.global.defaultFontFamily = '\'Open Sans\', sans-serif'
  Chart.defaults.global.defaultFontSize = 12
  var subcategoryRadial = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Performance',
          data: [{{this.subCategoryScores}}],
          backgroundColor: [
            'rgba(254, 191, 39, 0.6)',
          ],
          borderColor: [
            'rgba(254, 191, 39,1)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      },
      scale: {
          ticks: {
              min: 0,
              max: 100,
              display: false
          }
      }
    }
  })
{{/each}}
</script>
</body>
</html>