<div class="{{#if onDark}}on-dark{{else}}on-light{{/if}}">
    
    {{#if (showAssessmentWarningBox score) }}
    <div class="gauge-assessment__warning-box " data-category="{{ category }}-{{ lang }}">
        <i class="gauge-assessment__warning-icon"></i>
    </div>
    {{/if}}
    
    <div class="gauge-assessment__barchart" data-category="{{ category }}-{{ lang }}">
        <div 
            class="gauge-assessment__inner-fill {{ gaugeScoreClass score}}" 
            data-category="{{ category }}-{{ lang }}"
            style="width: {{ score }}%"></div>
        <div class="gauge-assessment__markers">
            <div class="gauge-assessment__marker"></div>
            <div class="gauge-assessment__marker"></div>
            <div class="gauge-assessment__marker"></div>
            <div class="gauge-assessment__marker"></div>
            <div class="gauge-assessment__marker"></div>
        </div>
    </div>
    
</div>
