<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Proxima Nova font from Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/gpw7xtk.css">
  <title>Codurance Compass</title>
  <style>
    {#asset /css/main.css @encoding=utf8}
    {#asset /css/background-imgs-en.css @encoding=utf8}
  </style>
</head>
<body>
    


  <!-- BEGIN FRONT PAGE ---------------------------------------------------------- -->
  <section id="front-page-en" class="page page-break-after with-background-img">
    <span id="front-page_full-name">{{user.firstName}} {{user.lastName}}</span>
    <span id="front-page_company-name">{{user.company}}</span>
    <span id="front-page_date">{{ currentDate }}</span>
  </section>
  <!-- END FRONT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN INTRO PAGE ---------------------------------------------------------- -->
  <section id="intro-page-en" class="page page-break-after with-background-img">
    <ul class="intro-page__contact-info">
        <li class="intro-page__contact-header">
            London / Manchester
        </li>
      <li>
          Phone: <a href="tel:+442074902967">+44 207 490 2967</a>
      </li>
      <li>
          Email: <a href="mailto:david.hall@codurance.com">david.hall@codurance.com</a>
      </li>
    </ul>
    <ul class="intro-page__contact-info second">
        <li class="intro-page__contact-header">
            Barcelona
        </li>
        <li>
            Phone: <a href="tel:+34937822882">+34 937 82 28 82</a>
        </li>
        <li>
            Email: <a href="mailto:jack.coleman@codurance.com">jack.coleman@codurance.com</a>
        </li>
    </ul>
  </section>
  <!-- END INTRO PAGE ---------------------------------------------------------- -->

  <!-- BEGIN YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->
  <section id="assessment-page-en" class="page page-break-after with-background-img">
    {{> gauge-assessment 
        score=categories.organisationalMaturity.score
        category="organisational-maturity"
        lang="en" }}
        
    {{> gauge-assessment 
        score=categories.continuousDelivery.score
        category="continuous-delivery"
        lang="en" }}
        
    {{> gauge-assessment 
        score=categories.culture.score
        category="people-culture"
        lang="en" }}
        
    {{> gauge-assessment 
        score=categories.crossFunctionalTeams.score
        category="effective-team"
        lang="en" }}
        
    {{> gauge-assessment 
        score=categories.xpPractices.score
        category="technical-practices"
        lang="en" }}
  </section>
  <!-- END YOUR ASSESSMENT PAGE ---------------------------------------------------------- -->

  <!-- BEGIN TOC PAGE ---------------------------------------------------------- -->
  <section id="toc-page-en" class="page page-break-after with-background-img">
      
      <ul class="toc-page__contents">
          <a href="#organisational-maturity-page"><li>
            <span class="toc-page__numbers">4.</span>
            <span class="toc-page__sections">Organisational Maturity</span>
          </li></a>
          <li><a href="#continuous-delivery-page">
            <span class="toc-page__numbers">7.</span>
            <span class="toc-page__sections">Continuous Delivery</span>
          </a></li>
          <li><a href="#people-culture-page">
            <span class="toc-page__numbers">10.</span>
            <span class="toc-page__sections">People & Culture</span>
          </a></li>
          <li><a href="#effective-team-page">
            <span class="toc-page__numbers">13.</span>
            <span class="toc-page__sections">Effective Team</span>
          </a></li>
          <li><a href="#technical-practices-page">
            <span class="toc-page__numbers">16.</span>
            <span class="toc-page__sections">Technical Practices</span>
          </a></li>
          <li><a href="#summary-page">
            <span class="toc-page__numbers">19.</span>
            <span class="toc-page__sections">Summary</span>
          </a></li>
      </ul>

  </section>
  <!-- END TOC PAGE ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY INTRO ---------------------------------------------------------- -->
  <section id="organisational-maturity-page-en" class="page page-break-after js-category-page with-background-img">
    <div class="gauge-subcategory gauge-1">
        {{> gauge-subcategory score=categories.organisationalMaturity.subcategoryScores.[0] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-2">
        {{> gauge-subcategory score=categories.organisationalMaturity.subcategoryScores.[1] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-3">
        {{> gauge-subcategory score=categories.organisationalMaturity.subcategoryScores.[2] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-4">
        {{> gauge-subcategory score=categories.organisationalMaturity.subcategoryScores.[3] onDark=true }}
    </div>
  </section>
  <!-- END ORGANISATIONAL MATURITY INTRO ---------------------------------------------------------- -->

  <!-- BEGIN ORGANISATIONAL MATURITY BREAKDOWN ---------------------------------------------------------- -->
  <section
    id="organisational-maturity-breakdown-page-en"
    class="page page-break-after with-background-img {{{categoryScoreClass categories.organisationalMaturity.score}}}"></section>
  <!-- END ORGANISATIONAL MATURITY BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY INTRO ---------------------------------------------------------- -->
  <section id="continuous-delivery-page-en" class="page page-break-after js-category-page with-background-img">
    <div class="gauge-subcategory gauge-1">
        {{> gauge-subcategory score=categories.continuousDelivery.subcategoryScores.[0] onDark=false  }}
    </div>
    
    <div class="gauge-subcategory gauge-2">
        {{> gauge-subcategory score=categories.continuousDelivery.subcategoryScores.[1] onDark=false  }}
    </div>
    
    <div class="gauge-subcategory gauge-3">
        {{> gauge-subcategory score=categories.continuousDelivery.subcategoryScores.[2] onDark=false  }}
    </div>
    
    <div class="gauge-subcategory gauge-4">
        {{> gauge-subcategory score=categories.continuousDelivery.subcategoryScores.[3] onDark=false  }}
    </div>
  </section>
  <!-- END CONTINUOUS DELIVERY INTRO ---------------------------------------------------------- -->

  <!-- BEGIN CONTINUOUS DELIVERY BREAKDOWN ---------------------------------------------------------- -->
  <section
    id="continuous-delivery-breakdown-page-en"
    class="page page-break-after with-background-img {{{categoryScoreClass categories.continuousDelivery.score}}}"></section>
  <!-- END CONTINUOUS DELIVERY BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN PEOPLE CULTURE INTRO ---------------------------------------------------------- -->
  <section id="people-culture-page-en" class="page page-break-after js-category-page with-background-img">
    <div class="gauge-subcategory gauge-1">
        {{> gauge-subcategory score=categories.culture.subcategoryScores.[0] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-2">
        {{> gauge-subcategory score=categories.culture.subcategoryScores.[1] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-3">
        {{> gauge-subcategory score=categories.culture.subcategoryScores.[2] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-4">
        {{> gauge-subcategory score=categories.culture.subcategoryScores.[3] onDark=true }}
    </div>
  </section>
  <!-- END PEOPLE CULTURE INTRO ---------------------------------------------------------- -->

  <!-- BEGIN PEOPLE CULTURE BREAKDOWN ---------------------------------------------------------- -->
  <section
    id="people-culture-breakdown-page-en"
    class="page page-break-after with-background-img {{{categoryScoreClass categories.culture.score}}}"></section>
  <!-- END PEOPLE CULTURE BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN EFFECTIVE TEAM INTRO ---------------------------------------------------------- -->
   <section id="effective-team-page-en" class="page page-break-after js-category-page with-background-img">
    <div class="gauge-subcategory gauge-1">
        {{> gauge-subcategory score=categories.crossFunctionalTeams.subcategoryScores.[0] onDark=false  }}
    </div>
    
    <div class="gauge-subcategory gauge-2">
        {{> gauge-subcategory score=categories.crossFunctionalTeams.subcategoryScores.[1] onDark=false  }}
    </div>
    
    <div class="gauge-subcategory gauge-3">
        {{> gauge-subcategory score=categories.crossFunctionalTeams.subcategoryScores.[2] onDark=false  }}
    </div>
    
    <div class="gauge-subcategory gauge-4">
        {{> gauge-subcategory score=categories.crossFunctionalTeams.subcategoryScores.[3] onDark=false  }}
    </div>
  </section>
  <!-- END EFFECTIVE TEAM INTRO ---------------------------------------------------------- -->

  <!-- BEGIN EFFECTIVE TEAM BREAKDOWN ---------------------------------------------------------- -->
  <section
    id="effective-team-breakdown-page-en"
    class="page page-break-after with-background-img {{{categoryScoreClass categories.crossFunctionalTeams.score}}}"></section>
  <!-- END EFFECTIVE TEAM BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN TECHNICAL PRACTICES INTRO ---------------------------------------------------------- -->
  <section id="technical-practices-page-en" class="page page-break-after js-category-page with-background-img">
    <div class="gauge-subcategory gauge-1">
        {{> gauge-subcategory score=categories.xpPractices.subcategoryScores.[0] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-2">
        {{> gauge-subcategory score=categories.xpPractices.subcategoryScores.[1] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-3">
        {{> gauge-subcategory score=categories.xpPractices.subcategoryScores.[2] onDark=true }}
    </div>
    
    <div class="gauge-subcategory gauge-4">
        {{> gauge-subcategory score=categories.xpPractices.subcategoryScores.[3] onDark=true }}
    </div>
  </section>
  <!-- END TECHNICAL PRACTICES INTRO ---------------------------------------------------------- -->

  <!-- BEGIN TECHNICAL PRACTICES BREAKDOWN ---------------------------------------------------------- -->
  <section
    id="technical-practices-breakdown-page-en"
    class="page page-break-after with-background-img {{{categoryScoreClass categories.xpPractices.score}}}"></section>
  <!-- END TECHNICAL PRACTICES BREAKDOWN ---------------------------------------------------------- -->

  <!-- BEGIN SUMMARY ---------------------------------------------------------- -->
  <section id="summary-page-en" class="page page-break-after with-background-img">
      
    <ul class="summary-contact__london-container">
        <li>Sales Contact: <span class="summary-contact__name">David Hall</span></li>
        <li>
            <ul class="summary-contact__london">
                <li><a href="tel:+447447062036">
                    <i class="summary-contact__phone"></i>
                    <span>+44 744 70 62 036</span>
                </a></li>
                <li><a href="mailto:david.hall@codurance.com">
                    <i class="summary-contact__email"></i>
                    <span>david.hall@codurance.com</span>
                </a></li>
                <li><a href="https://codurance.com/" target="_blank">
                    <i class="summary-contact__web"></i>
                    <span>codurance.com</span>
                </a></li>
            </ul>
        </li>
        <li>3 Sutton Lane, 3rd floor<br>London, EC1M 5PU</li>
        <li>2 Mount Street<br>Manchester, M2 5WQ</li>
    </ul>
    
    <ul class="summary-contact__barcelona-container">
        <li>Sales Contact: <span class="summary-contact__name">Jack Colemanzo</span></li>
        <li>
            <ul class="summary-contact__barcelona">
                <li><a href="tel:+34937822882">
                    <i class="summary-contact__phone"></i>
                    <span>+34 937 82 28 82</span>
                </a></li>
                <li><a href="mailto:jack.coleman@codurance.com">
                    <i class="summary-contact__email"></i>
                    <span>jack.coleman@codurance.com</span>
                </a></li>
                <li><a href="https://codurance.es/" target="_blank">
                    <i class="summary-contact__web"></i>
                    <span>codurance.es</span>
                </a></li>
            </ul>
        </li>
        <li>Carrer de Pallars 99,<br>4th floor, room 41<br>Barcelona, 08018</li>
    </ul>

    {{> gauge-summary 
        score=categories.organisationalMaturity.score
        category="organisational-maturity"
        lang="en" }}
        
    {{> gauge-summary 
        score=categories.continuousDelivery.score
        category="continuous-delivery"
        lang="en" }}
        
    {{> gauge-summary 
        score=categories.culture.score
        category="people-culture"
        lang="en" }}
        
    {{> gauge-summary 
        score=categories.crossFunctionalTeams.score
        category="effective-team"
        lang="en" }}
        
    {{> gauge-summary 
        score=categories.xpPractices.score
        category="technical-practices"
        lang="en" }}

  </section>
  <!-- END SUMMARY ---------------------------------------------------------- -->



</body>
<script>
    {#asset /js/copyright.js @encoding=utf8}
</script>
<!-- Convert CSS Variables -->
<script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
<script>
    cssVars({
        rootElement   : document,
        include: 'style',
        exclude: 'link',
        onlyLegacy: false,
        preserveStatic: true,
        preserveVars  : false,
        updateDOM: true,
        updateURLs: false
    });
</script>
</html>