<div 
    id="{{ id }}"
    class="gauge-subcategory {{#if onDark}}on-dark{{else}}on-light{{/if}}">
    <img 
        class="gauge-subcategory__icon--{{ scoreIconSubcategory subcategory.score }}"
        src="{#asset /assets/result-icon-{{ scoreIconSubcategory subcategory.score }}.png @encoding=dataURI}" />
    
    <div class="gauge-subcategory__rule {{ gaugeScoreClass subcategory.score}}"></div>
    
    <div class="gauge-subcategory__answer  {{ gaugeScoreClass subcategory.score}}">{{ subcategory.answer }}</div>
    
    <div class="gauge-subcategory__bar">
    <div class="gauge-subcategory__inner-fill {{ gaugeScoreClass subcategory.score}}" style="width: {{ subcategory.score }}%"></div>
    <div class="gauge-subcategory__markers">
        <div class="gauge-subcategory__marker"></div>
        <div class="gauge-subcategory__marker"></div>
        <div class="gauge-subcategory__marker"></div>
        <div class="gauge-subcategory__marker"></div>
        <div class="gauge-subcategory__marker"></div>
        <div class="gauge-subcategory__marker"></div>
    </div>
    </div>
</div>
